:root {
  --main-text-color: white;
  --cursor: pointer;
  --main-border-radius: 100px;
  --justify-content: center;
}

.question-box {
  display: grid;
  grid-template-areas:
    ". statement ."
    ". options ."
    ". outcome ."
    ". next-question .";
  color: var(--main-text-color);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 4fr 1fr 1fr;
  border-radius: 0px;
}

.question-outcome {
  grid-area: outcome;
  color: var(--main-text-color);
  display: flex;
  justify-content: var(--justify-content);
}

.all-options {
  grid-area: options;
}

.option-block {
  display: flex;
  cursor: var(--cursor);
  margin-bottom: 1rem;
}

.question-statement {
  grid-area: statement;
  display: flex;
  justify-content: var(--justify-content);
  padding-top: 75px;
}

.border-one-solution {
  border: 2px solid #f9d29f;
}

.border-some-and-all-solutions {
  border: 2px solid #fbfbfb;
}

.switch-toggle {
  box-sizing: border-box;
  border-radius: var(--main-border-radius);
}

.switch-toggle input {
  white-space: nowrap;
  appearance: none;
  transition: all 100ms ease-out;
  cursor: var(--cursor);
  display: flex;
  flex-direction: row;
  justify-content: var(--justify-content);
  padding: 1rem 2rem;
  border-radius: inherit;
  color: var(--main-text-color);

  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: bold;
  margin: auto;
}

.default {
  background-color: transparent;
}

.one-solution {
  background-color: #f8caa3;
}

.all-solutions {
  background-color: #a5e7e2;
}

.some-solutions {
  background-color: #f2cbbd;
}

.switch-toggle input:checked {
  color: #9f938b;
  margin: auto;
  overflow: hidden;
  width: 100%;
}

.switch-toggle input:before {
  content: attr(label);
  display: inline-block;
  text-align: center;
}

.next-question {
  grid-area: next-question;
  display: flex;
  justify-content: var(--justify-content);
  margin-bottom: 1rem;
}

.simple-button {
  border: 2px solid #fbfbfb;
  background-color: transparent;
  padding: 5px;
  border-radius: var(--main-border-radius);
  cursor: var(--cursor);
  color: var(--main-text-color);
}

@media (max-width: 500px) {
  .option-block {
    flex-direction: column;
  }

  .switch-toggle input:checked:nth-child(1) {
    border-radius: 100px 100px 0rem 0rem;
  }
  .switch-toggle input:checked:nth-child(2) {
    border-radius: 0rem 0rem 100px 100px;
  }
}
